.task_container {
    margin: .5rem 0;
    padding: .5rem 1.5rem .5rem .75rem;
    border: 2px solid #c70000;
    border-radius: 6px;

    background: #fff;

    -webkit-box-shadow: 0px 2px 7px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 7px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 7px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;

    transition: .1s;
}

.task_container:hover {
    transform: translateY(-2px) scale(1.02);
}

.task_container.completed {
    border: 2px solid #50c700;
}

.task_header {
    font-size: 1.75rem;
    font-weight: bold;
}

.task_description {
    font-size: .75rem;

    color: #303030;
}